body {
    min-height: 100vh;
    padding: 0 100px;
    background-image: linear-gradient(-141deg, #f681AA 0%, #644AEA 100%);
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
}

nav ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    
}

.phone {
    position: absolute;
    right: 50px;
    bottom: -185px;
    width: 365px;
}

.container {
    position: relative;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.inner-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.brand-prop {
    font-size: 95px;
    color: white;
    margin-bottom: 45px;
    font-weight: 100;
    text-transform: capitalize;
}

.brand-prop-sub {
    color: white;
    font-size: 22px;
    margin-bottom: 45px;
    font-weight: 600;
}

.main-cta {
    width: 230px;
    height: 45px;
    border-radius: 6px;
    color: #f681aa;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 38px 24px 0 rgba(0,0,0,0.11);
}


